footer{
    bottom: 0px;
    width: 100%;
    background-color: #EB211C;
    position: absolute;
    color: white;
    height: 50px;
    text-align: center;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    color: white;
    background-color: #EB211C;
    font-weight: bold;
    padding-top: 10px;
}

#navHeader{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 25px;
}

#titleHeader{
    font-size: 20pt;
    text-decoration: none;
    color: white;
}

.aN{
    margin-left: 50px;
    margin-top: 7px;
    text-decoration: none;
    color: white;
}

#sectMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cardCalendario{
    background-color: white;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
}

#btn{
    background-color: #EB211C;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    border: 1px solid white;
}

#help{
    font-weight: normal;
    font-size: 8pt;
}